<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Backlog Timeline</title>
    <link rel ="stylesheet" href="src/css/generic-vis.css">
    <script type="text/javascript" src="dist/js/_bower.js"></script>
    <script type="text/javascript" src="dist/js/app.min.js"></script>
  </head>
  <body onload="DEMO_QUERY_UI(false, BACKLOG_TIMELINE_MAIN)">
        <div id = "queryui" class = "ui">
            <form id ="queryform">
                <H1>Data Filtering</H1>
                <p>
                    <H2>Time range filtering</H2>
                    Leave the fields empty if you don't want to filter data based on time range.</br>
                    sart date: <input type = "date" name = "startDate" id ="startDate"></input>
                    start time (hh:mm): <input type = "time" name = "startTime" id = "startTime"></input></br>
                    end date: <input type = "date" name = "endDate" id ="endDate"></input>
                    end time (hh:mm): <input type = "time" name = "endTime" id = "endTime"></input></br>
                </p>
                <p>
                    <H2>Data origin filtering</H2>
                    Leave the fields empty if you don't want to filter data based on origin id.</br>
                    Data context: <input type = "text" name = "context" id ="context"></input></br>
                    Data source: <input type = "text" name = "source" id ="source"></input></br>
                    Data id in source system: <input type = "text" name = "source_id" id ="source_id"></input></br>
                </p>
                <p>
                    <H2>Filtering based on other data attributes</H2>
                    <H3>Event filters</H3>
                    <p>
                        Creator: <input type = "text" name = "creator" id = "eventCreator"></input></br>
                        Type: <input type = "text" name = "type" id = "eventType"></input></br>
                        Duration: <input type = "number" name = "duration" id = "eventDuration"></input></br>
                        Date: <input type ="date" name = "date" id = "eventDate"></input>
                        Time: (hh:mm AM/PM)<input type = "time" name = "time" id = "eventTime"></input></br>
                    </p>
                    <H3>Construct filters</H3>
                    <p>
                        Name: <input type = "text" name = "name" id = "constructName"></input></br>
                        Type: <input type = "text" name = "type" id = "constructType"></input></br>
                        Description: <input type = "text" name = "description" id = "constructDescription"></input></br>
                    </p>    
                </p>
                <H1>Data Mapping</H1>
                <p>
                    <H2>Y-axis</H2>
                    <p>
                        Choose the attribute to be mapped to Y-axis from the data.</br>
                        If the attribute is part of origin id, write just the attribute name</br>
                        (eg. soure_id not origin_id.source_id) and check the checkbox below.</br>
                        However if you want to group data to y-axis based on metada, then you</br>
                        need to write "metada.attributename".
                    </p>
                    Attribute name: <input type = "text" name = "rowId" id = "rowId" value = "source_id"></input></br>
                    Y-axis attribute is an attribute of origin id:
                    <input type ="checkbox" name = "fromOrigin" id = "rowIdIsFromOrigin" value = "rowIdIsFromOrigin" checked></input></br>
                </p>
            </form>
        </div>
        <div id ="loader"></div>
  </body>
</html>
  